erc20.json
[
    {
        "id": "29d033f92e97afbf",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab2e9267aff2e3e0",
        "type": "function",
        "z": "29d033f92e97afbf",
        "name": "Connect to blockchain",
        "func": "const abi = [\n    // ERC20 functions\n    \"function balanceOf(address account) public view returns (uint256)\",\n    \"function totalSupply() public view returns (uint256)\",\n    \"function transfer(address to, uint256 amount) public returns (bool)\",\n    \"function allowance(address owner, address spender) public view returns (uint256)\",\n    \"function approve(address spender, uint256 amount) public returns (bool)\",\n    \"function transferFrom(address from, address to, uint256 amount) public returns (bool)\",\n    // ERC20 events\n    \"event Transfer(address indexed from, address indexed to, uint256 value)\",\n    \"event Approval(address indexed owner, address indexed spender, uint256 value)\",\n    // ERC20Burnable functions\n    \"function burn(uint256 amount) public\",\n    \"function burnFrom(address account, uint256 amount) public\",\n    // Pausable functions\n    \"function pause() public\",\n    \"function unpause() public\",\n    // Pausable events\n    \"event Paused(address account)\",\n    \"event Unpaused(address account)\",\n    // AccessControl functions\n    \"function grantRole(bytes32 role, address account) public\",\n    \"function revokeRole(bytes32 role, address account) public\",\n    \"function renounceRole(bytes32 role, address account) public\",\n    \"function hasRole(bytes32 role, address account) public view returns (bool)\",\n    // AccessControl events\n    \"event RoleGranted(bytes32 indexed role, address indexed account, address indexed sender)\",\n    \"event RoleRevoked(bytes32 indexed role, address indexed account, address indexed sender)\",\n    \"event RoleAdminChanged(bytes32 indexed role, bytes32 indexed previousAdminRole, bytes32 indexed newAdminRole)\",\n    // Mint function\n    \"function mint(address to, uint256 amount) public\",\n];\n\n//connecting to Blockchain\nconst provider = new ethers.providers.JsonRpcProvider('https://my-node-1c0a.gke-europe.settlemint.com/sm_pat_15d761631b6b85b5');\n//connecting to our Wallet (Private key)\nconst signer = new ethers.Wallet('0x148b7807e94821148e345a3dc45a84bc7b5a128761ad3e7e32404ac5e2c8e8e0', provider);\nglobal.set('signer', signer)\n\n//connecting to the contract \nconst erc20Contract = new ethers.Contract('0x8B000652fB913A36dbfc611B5Bc5b0B3aecB0d52', abi, signer);\nglobal.set('erc20Contract', erc20Contract)\n\n//interacting with the Blockchain\nmsg.block = await provider.getBlock()\n//interacting with the contract \nmsg.erc20Contract = erc20Contract.address\n\nreturn msg ",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ethers",
                "module": "ethers"
            }
        ],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "6a33daf1fc575b0e",
                "267f4b0d98c3250c"
            ]
        ]
    },
    {
        "id": "e10b870146b6fc7c",
        "type": "inject",
        "z": "29d033f92e97afbf",
        "name": "Set global vars",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "ab2e9267aff2e3e0"
            ]
        ]
    },
    {
        "id": "6a33daf1fc575b0e",
        "type": "debug",
        "z": "29d033f92e97afbf",
        "name": "block",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "block",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "267f4b0d98c3250c",
        "type": "debug",
        "z": "29d033f92e97afbf",
        "name": "contract address ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "erc20Contract",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "923ea30aee23d14c",
        "type": "function",
        "z": "29d033f92e97afbf",
        "name": "Get address ERC20 balance",
        "func": "const erc20Contract = global.get(\"erc20Contract\")\n\nconst balance = await erc20Contract.balanceOf(msg.toAddress);\nmsg.payload = `Balance of address ${msg.toAddress} is: ${ethers.utils.formatEther(balance)} tokens`\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ethers",
                "module": "ethers"
            }
        ],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "893638feba26b5e7"
            ]
        ]
    },
    {
        "id": "85d7ac6209865ec8",
        "type": "inject",
        "z": "29d033f92e97afbf",
        "name": "Trigger txn",
        "props": [
            {
                "p": "toAddress",
                "v": "0x9aC05822830F80Beb5BF486366a9176127E8E50c",
                "vt": "str"
            },
            {
                "p": "amount",
                "v": "10",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "923ea30aee23d14c"
            ]
        ]
    },
    {
        "id": "893638feba26b5e7",
        "type": "debug",
        "z": "29d033f92e97afbf",
        "name": "ERC 20 Balance",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "25ba1385d993ab0e",
        "type": "function",
        "z": "29d033f92e97afbf",
        "name": "Mint token",
        "func": "const erc20Contract = global.get(\"erc20Contract\");\n\nconst txOptions = {\n    gasLimit: 1000000, // Example gas limit; adjust based on the actual usage of the mint function\n    gasPrice: 0, // Set gas price to 0 for networks that support this\n};\n\nconst tx = await erc20Contract.mint(msg.toAddress, ethers.utils.parseUnits(msg.amount.toString(), 18), txOptions);\nawait tx.wait();\n\nmsg.payload = tx.hash\n\nreturn msg \n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ethers",
                "module": "ethers"
            }
        ],
        "x": 350,
        "y": 520,
        "wires": [
            [
                "df5a19b1622d8286"
            ]
        ]
    },
    {
        "id": "922724962a77d794",
        "type": "inject",
        "z": "29d033f92e97afbf",
        "name": "Trigger mint",
        "props": [
            {
                "p": "toAddress",
                "v": "0xE0b91CEad6bE1Dd9b756D2c6c1dA409CB9FCA8D1",
                "vt": "str"
            },
            {
                "p": "amount",
                "v": "10",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "25ba1385d993ab0e"
            ]
        ]
    },
    {
        "id": "df5a19b1622d8286",
        "type": "debug",
        "z": "29d033f92e97afbf",
        "name": "txn hash",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "bac9afc56d923a30",
        "type": "function",
        "z": "29d033f92e97afbf",
        "name": "get all balances from GMW",
        "func": "async function queryERC20Balances() {\n    const graphqlEndpoint = 'https://gmw-erc20-8687.eks-singapore.settlemint.com/subgraphs/name/erc20-scs-b0f4';\n    const query = `\n        query MyQuery {\n            erc20Balances {\n                value\n                valueExact\n                id\n            }\n        }\n    `;\n\n    // Setting up the request headers and body\n    const options = {\n        method: 'POST',\n        headers: {\n            'Content-Type': 'application/json',\n            'x-auth-token': 'sm_pat_383caed3f7f85b0e'\n        },\n        body: JSON.stringify({ query })\n    };\n\n    try {\n        const response = await fetch(graphqlEndpoint, options);\n        const responseBody = await response.json();\n        if (!response.ok) {\n            throw new Error('GraphQL query failed');\n        }\n        return responseBody.data;\n    } catch (error) {\n        console.error('Error fetching ERC20 balances:', error);\n        throw error; // Rethrowing the error might be useful if you want to handle it further up the call stack\n    }\n}\n\n// Example usage\nmsg.payload = await queryERC20Balances()\n\nreturn msg \n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ethers",
                "module": "ethers"
            },
            {
                "var": "fetch",
                "module": "node-fetch"
            }
        ],
        "x": 380,
        "y": 660,
        "wires": [
            [
                "5554843d88061c33"
            ]
        ]
    },
    {
        "id": "87fdf89aa550502c",
        "type": "inject",
        "z": "29d033f92e97afbf",
        "name": "Get all balanceses ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "bac9afc56d923a30"
            ]
        ]
    },
    {
        "id": "5554843d88061c33",
        "type": "debug",
        "z": "29d033f92e97afbf",
        "name": "ERC 20 Balance",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 660,
        "wires": []
    }
]
